* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Caveat";
  src: url(../fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-It";
  src: url(../fonts/Lato-Italic.ttf);
}
nav {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 45px;
  right: 50px;
  display: none;
  font-weight: 100;
}
.logo {
  position: fixed;
  top: 36px;
  left: 37px;
}

.link-nav {
  width: 544px;
  height: 54px;
  position: fixed;
  top: 40px;
  right: 50px;
  margin-bottom: 10px;
}
.link-nav .active {
  border-bottom: black solid 3px;
}
.link-nav .nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: Caveat;
  font-size: 25px;
}
.link-nav .nav-buttons a {
  color: black;
  text-align: right;
  text-decoration: none;
  font-family: Caveat;
}
.link-nav .nav-buttons #login {
  text-align: center;
  background-color: #FFD972;
  width: 158px;
  height: 52px;
  border-radius: 40px 40px;
  line-height: 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@media screen and (max-width: 768px) {
  .link-nav {
    display: none;
  }

  nav {
    display: block;
  }
}
footer {
  width: 100vl;
  font-family: Lato-It;
  font-size: 15px;
  color: #393939;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  left: 40px;
  bottom: 25px;
  right: 40px;
}
footer .copyright {
  padding-right: 92px;
}
footer .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 637px;
  padding-right: 130px;
  position: relative;
  margin: 0 auto;
}
footer .middle div {
  height: 19px;
}
footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80px;
  margin-left: 175px;
  position: fixed;
  right: 40px;
}
footer .social svg {
  height: 19px;
}

@media screen and (max-width: 768px) {
  footer {
    font-size: 10px;
  }
  footer .copyright {
    padding-right: 0px;
    width: 180px;
  }
  footer .copyright p {
    width: 180px;
    padding-right: 0px;
  }
  footer .middle {
    padding-right: 0px;
    width: 400px;
    position: fixed;
    margin-left: 160px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .social {
    margin-left: 0;
  }
}
@media screen and (max-width: 360px) {
  footer {
    font-size: 10px;
    display: block;
    height: 64px;
    margin: 0 auto;
    width: 300px;
  }
  footer .copyright {
    width: 100px;
    height: 20px;
    position: fixed;
    left: 20px;
  }
  footer .middle {
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
    width: 250px;
    height: 33px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: fixed;
    bottom: 20px;
  }
  footer .middle div {
    font-size: 10px;
    height: 12px;
  }
  footer .social {
    height: 20px;
    width: 60px;
    bottom: 70px;
    right: 20px;
  }
}
.home {
  width: 100%;
  height: 100vh;
  background-color: orangered;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(242, 92, 84, 0.55)), to(rgba(242, 92, 84, 0.55))), url("../img/hero.jpg");
  background-image: linear-gradient(to right, rgba(242, 92, 84, 0.55), rgba(242, 92, 84, 0.55)), url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home .circle-holder {
  width: 600px;
  height: 535px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home .circle-holder .little-circle {
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  width: 167.88px;
  height: 167.88px;
  background-color: #FCBCB8;
  border-radius: 100px;
  margin-right: -300px;
  margin-top: -350px;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.home .circle-holder .little-circle p {
  width: 90px;
  height: 37.77px;
  font-family: Lato;
  font-style: italic;
  font-size: 10px;
  text-align: justify;
  position: relative;
}
.home .circle-holder .big-circle {
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  z-index: 2;
  width: 357.58px;
  height: 357.58px;
  background-color: #FFD972;
  border-radius: 200px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.home .circle-holder .big-circle .title-cont {
  height: 180px;
  width: 168px;
}
.home .circle-holder .big-circle .title {
  text-align: center;
  font-family: Caveat;
  font-size: 24px;
  padding-bottom: 24px;
  letter-spacing: 2.4px;
}
.home .circle-holder .big-circle p {
  font-family: Lato;
  font-size: 13px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .home .circle-holder {
    width: 400px;
    height: 550px;
  }
  .home .circle-holder .little-circle {
    margin-right: -180px;
    margin-top: -370px;
  }
}
@media screen and (max-width: 360px) {
  .home .circle-holder {
    width: 280px;
    height: 450px;
  }
  .home .circle-holder .little-circle {
    margin-right: -130px;
    margin-top: -280px;
    height: 121px;
    width: 121px;
  }
  .home .circle-holder .little-circle p {
    font-size: 8px;
    width: 60px;
    text-align: center;
  }
  .home .circle-holder .big-circle {
    width: 257px;
    height: 257px;
  }
  .home .circle-holder .big-circle .title-cont {
    height: 86px;
    width: 112px;
  }
  .home .circle-holder .big-circle .title-cont .title {
    font-size: 17px;
    margin-bottom: -20px;
    letter-spacing: 1px;
  }
  .home .circle-holder .big-circle .title-cont p {
    font-size: 8px;
    width: 112px;
    height: 55px;
  }
}