footer{
    width: 100vl;    
    font-family: Lato-It;
    font-size: 15px;
    color: #393939;


        height: 30px;
     display: flex;
    // align-items: center;
    // justify-content: space-evenly;
    position: fixed;
    left: 40px;
    bottom: 25px;
    right: 40px;
    //background-color: azure;

        .copyright{
            padding-right: 92px;
            //background-color: royalblue;

        }
        .middle{
            display: flex;
            //align-items: center;
            justify-content: space-between;
            width: 637px;
            padding-right: 130px;
            position: relative;
            margin: 0 auto;
            //background-color: rebeccapurple;
            div{
                height: 19px;
            //    background-color: green;
                //width: 50px;
            }
           

        }

        .social{
            display: flex;
            //align-items: center;
            justify-content: space-between;
            width: 80px;
            //background-color: aqua;
            margin-left: 175px;
            position: fixed;
            right: 40px;
           

            svg{
                height: 19px;

            }

            
        }

    
    
}

@media screen and (max-width: 768px) {
    footer{
        font-size: 10px;
        
           //justify-content: space-evenly;
            .copyright{
                padding-right: 0px;
                width: 180px;

                
                p{
                    width: 180px;
                    //background-color: royalblue;
                    padding-right: 0px;
                }

            }
            .middle{
                padding-right:0px;
                width: 400px;
                position: fixed;
               // margin-right: 40px;
                margin-left: 160px;
                flex-direction: row;
                div{
                    //width:120px;
                    //height: 10px;
                    //background-color: salmon;
                }


            }
            .social{
                margin-left: 0;

            }
        
    }

}

@media screen and (max-width: 360px) {
    footer{
        font-size: 10px;
        display: block;
        
            height: 64px;
           // position: relative;
            margin: 0 auto;
            width: 300px;

            .copyright{
                width: 100px;
                height: 20px;
                //margin-left: -20px;
                position: fixed;
                left: 20px;
            }
            .middle{
                position: absolute;
                margin-top: 10px;
               margin-left: 30px;
               // margin-right: 90px;
                width: 250px;
                height: 33px;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                position: fixed;
                bottom: 20px;
                
                div{
                    //width: 80px;
                    font-size: 10px;
                    height: 12px;
                }

            }
            .social{
                //margin-left:140px;
                height: 20px;
                width: 60px;
                bottom: 70px;
                right: 20px;
               

            }
        
      
    }

}