nav{
    width: 30px;
    height: 30px;
    //background-color: red;
    position: fixed;
    top: 45px;
    right: 50px;
    display: none;
    font-weight: 100;
   
    i{
       
    }
    //position: relative;

}


.logo{
    position: fixed;
    top: 36px;
    left: 37px;
}

.link-nav{
    width: 544px;
    height: 54px;
    position: fixed;
    top: 40px;
    right: 50px;
    margin-bottom: 10px;
   //background-color: royalblue;

   .active{
       border-bottom: black solid 3px;
    // text-decoration-line: underline !important;
    // text-decoration-thickness: 4px !important;
    // color: rgb(20, 19, 19);
    //margin-top: 20px;
  }
    
    .nav-buttons{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-family: Caveat;
        font-size: 25px;
        a{
           //background-color: antiquewhites;
            color: black;
            text-align: right;
            text-decoration: none;
            font-family: Caveat;
            
        }
        #login{
            text-align: center;
            background-color: $yellow;
            width: 158px;
            height: 52px;
           border-radius: 40px 40px;
           line-height: 50px;
           box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;   
        }
    }
    
    


}
@media screen and (max-width: 768px) {

    .link-nav{
        display: none;

    }
   nav{
       display: block;
   }
    
}
